@media only screen and (max-width : 767px) {

    .mat-elevation-z8 {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width: 10px;
        }
        &::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: 2px solid var(--whiteColor);
            background-color: rgba(0, 0, 0, .2);
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;  
            background-color: var(--whiteColor);
        }
    }
    .component-dark-theme {
        .mat-elevation-z8 {
            &::-webkit-scrollbar-thumb {
                border-color: #1f2226;
                background-color: rgba(255, 255, 255, .2);
            }
            &::-webkit-scrollbar-track {
                background-color: #1f2226;
            }
        }
    }

}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.task-details {
  flex-grow: 1;
}

.task-details h4 {
  margin: 0;
}

.task-details p {
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  border-radius: 20px; // This will round the borders
  padding: 10px 20px; // Adjust padding as needed
  font-size: 16px; // Adjust font size as needed
  min-width: 150px; // Set a minimum width for the button
}

.success-snackbar {
  background: #4CAF50;
  color: white;
}

.error-snackbar {
  background: #F44336;
  color: white;
}

::ng-deep .mat-snack-bar-container {
  &.success-snackbar, &.error-snackbar {
    button {
      color: white;
    }
  }
}

.badge {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  width: 60px;
  height: 20px;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}